/* .card-img-top{
    height: 170px;
    object-fit: cover !important;
    display: block;
    width:100%;
} */
.img{
    height: auto;
  width: 200px;
  object-fit: contain;
}
.myShadow{
    box-shadow:0 1px 6px rgb(146, 145, 145)
}
.card{
    transition: transform 200ms ease-in-out;
}
.card:hover{
    transform: scale(1.03);
}
.card-body{
    background-color: rgb(243 241 241)
}   

body{
    background:  linear-gradient(135deg, #a0a0a0 25%, transparent 25%), linear-gradient(225deg, #a0a0a0 25%, transparent 25%), linear-gradient(45deg, #a0a0a0 25%, transparent 25%), linear-gradient(315deg, #a0a0a0 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}


